[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flask = "*"
markdown = "*"

[requires]
python_version = "3.9"

[scripts]
requiem = "python app.py C:/Users/Fabian/Sync/uv/reqm/database"
